# More Element-wise Operations
In the previous slide, we revised a few pythonic conventions. In the NumPy section, we looked at a few element-wise operations. Here we'll look more in-depth at some element-wise operations examples which can save a lot of time in data processing and make your code significantly easier to read and write.

In [1]:
import numpy

Let's first contrast how these compare for simple lists.

In [2]:
# Standard Python List
p_list1 = [1, 5, 3]
p_list2 = [4, 2, 6]

# Numpy version of python lists.
np_list1 = numpy.array(p_list1)
np_list2 = numpy.array(p_list2)

Look at how these compare under simple operations.

In [3]:
# Addition
print("Addition")
print("p_list1 + p_list2:", p_list1 + p_list2)
print("np_list1 + np_list2:", np_list1 + np_list2)

# Subtraction
print("Subtraction")
# Doesn't have clear meaning in Python
# print("p_list1 - p_list2:", p_list1 - p_list2)
print("np_list1 - np_list2:", np_list1 - np_list2)

# Comparison
print("Comparison")
print("p_list1 < p_list2:", p_list1 < p_list2)
print("np_list1 < np_list2:", np_list1 < np_list2)

Addition
p_list1 + p_list2: [1, 5, 3, 4, 2, 6]
np_list1 + np_list2: [5 7 9]
Subtraction
np_list1 - np_list2: [-3  3 -3]
Comparison
p_list1 < p_list2: True
np_list1 < np_list2: [ True False  True]

As highlighted in the previous slide, there is some value to this approach.

In [4]:
greater_in_list = np_list1 > np_list2
print("greater_in_list =", greater_in_list)
print("np_list1 =", np_list1)
print("np_list1[greater_in_list]:", 
    np_list1[greater_in_list])

greater_in_list = [False  True False]
np_list1 = [1 5 3]
np_list1[greater_in_list]: [5]

<blockquote style="padding: 10px; background-color: #555555;">

## Exercise
1. Before running it, what do you think the below snippet will produce? `[2]`, `[4 6]` or an error? After guessing, uncomment it and find out.

In [11]:
print("np_list2[greater_in_list]:", np_list2[greater_in_list])

np_list2[greater_in_list]: [2]

## Pandas

Next we'll look at dataframes, these use similar conventions to NumPy. We will look more at the element-wise component than indexing.

In [12]:
import pandas as pd

Here, we'll put together some simple dataframes.

In [13]:
df1 = pd.DataFrame({"Column 1": [10,20,30], "Column 2": [40, 5, 30]})
df2 = pd.DataFrame({"Column 3": [60,10,40], "Column 4": [50, 50, 25]})
display("df1:")
display(df1)
display("df2:")
display(df2)

'df1:'

   Column 1  Column 2
0        10        40
1        20         5
2        30        30

'df2:'

   Column 3  Column 4
0        60        50
1        10        50
2        40        25

We can follow a similar approach to numpy. We want the rows where Column 1 is greater than 10. So we follow these steps.

1. Get the column "Column 1"
2. Generate a new dataframe which does an element-wise comparison, checking whether each value is greater than 10.
3. Index into the original dataframe. Where the indexing dataframe is not `False`, the row is included.

In [14]:
display("df1")
display(df1)
display("df1['Column 1']")
display(df1['Column 1'])
display("more_than_10 = df1['Column 1'] > 10")
more_than_10 = df1['Column 1'] > 10
display(more_than_10)
display("df1[more_than_10]")
display(df1[more_than_10])

'df1'

   Column 1  Column 2
0        10        40
1        20         5
2        30        30

"df1['Column 1']"

0    10
1    20
2    30
Name: Column 1, dtype: int64

"more_than_10 = df1['Column 1'] > 10"

0    False
1     True
2     True
Name: Column 1, dtype: bool

'df1[more_than_10]'

   Column 1  Column 2
1        20         5
2        30        30

Things are a little different in pandas to numpy, since columns and rows are often named, being in the same position is not necessarily enough and we may need to do additional work to operate on the two.

In [15]:
# df1 has Column 1 and Column 2, and df2 has Column 3 and Column 4
display("df1 - df2")
display(df1 - df2)
# Here we create df3, which renames the columns in df2.
df3 = pd.DataFrame()
df3["Column 1"] = df2["Column 3"]
df3["Column 2"] = df2["Column 4"]
display("df1")
display(df1)
display("df3")
display(df3)
# Now we subtract the two.
display("df1 - df3")
display(df1 - df3)

'df1 - df2'

   Column 1  Column 2  Column 3  Column 4
0       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN

'df1'

   Column 1  Column 2
0        10        40
1        20         5
2        30        30

'df3'

   Column 1  Column 2
0        60        50
1        10        50
2        40        25

'df1 - df3'

   Column 1  Column 2
0       -50       -10
1        10       -45
2       -10         5

But we can still operate on these dataframes using lower dimensional values which don't have the same named indexing.

<blockquote style="padding: 10px; background-color: #555555;">

## Exercise
2. Make a guess at what each of the commented python lines will do and uncomment them to see if you were right.

In [18]:
import numpy
display("df1")
display(df1)
# 0-D addition
display("df1 + 5")
display(df1 + 5)
# 1-D addition
display("df1 + numpy.array([0.1, 0.2])")
display(df1 + numpy.array([0.1, 0.2]))
# 2-D addition
display("df1 + numpy.array([[0.1, 0.2],[0.3, 0.4], [0.5, 0.6]])")
display(df1 + numpy.array([[0.1, 0.2],[0.3, 0.4], [0.5, 0.6]]))

'df1'

   Column 1  Column 2
0        10        40
1        20         5
2        30        30

'df1 + 5'

   Column 1  Column 2
0        15        45
1        25        10
2        35        35

'df1 + numpy.array([0.1, 0.2])'

   Column 1  Column 2
0      10.1      40.2
1      20.1       5.2
2      30.1      30.2

'df1 + numpy.array([[0.1, 0.2],[0.3, 0.4], [0.5, 0.6]])'

   Column 1  Column 2
0      10.1      40.2
1      20.3       5.4
2      30.5      30.6

Also of note are a couple of edge cases.

1. What does indexing with a dataframe which doesn't have the same columns do?
2. What about a row with some `True` and some `False` values?
3. Is the behaviour in (1) consistent if the dataframe we're indexing with is 2-D?

<blockquote style="padding: 10px; background-color: #555555;">

## Exercise
3. Make a guess at what the output might be for each case and see how your guess matches up with what actually happens by uncommenting the lines.

In [24]:
display('df1')
display(df1)
# Case 1: df2 has Column 3 and Column 4, but more_than_10 has 
#   Column 1 and Column 2.
display("Case 1: df2[more_than_10]")
#display(df2[more_than_10])
# Case 2: Some True and some False values.
display("Case 2:")
display("df1 > 20")
display(df1 > 20)
display("df1[df1 > 20]")
display(df1[df1 > 20])
# Case 3: 2-D indexing with differing column names.
display("Case 3: df2[df1 > 20]")
display(df2[df1 > 20])

'df1'

   Column 1  Column 2
0        10        40
1        20         5
2       200        30

'Case 1: df2[more_than_10]'

'Case 2:'

'df1 > 20'

   Column 1  Column 2
0     False      True
1     False     False
2      True      True

'df1[df1 > 20]'

   Column 1  Column 2
0       NaN      40.0
1       NaN       NaN
2     200.0      30.0

'Case 3: df2[df1 > 20]'

   Column 3  Column 4
0       NaN       NaN
1       NaN       NaN
2       NaN       NaN

### Combining conditions
It is common to want to get the intersection of two conditions. Let's look at two options for this. To fully highlight why this is important, let's look at a common warning which potentially will lead to an error.

The issue we run into is that it is unclear whether what we've got is a fresh copy (i.e. changes won't be reflected in the original dataframe), or a view (i.e. any changes we make will reflect in the original dataframe). Pandas will pick between these inconsistently depending on what is most appropriate at the time, so it is best to avoid this issue. Though this approach is fine if we aren't making any modifications to the dataframe.

In [25]:
# Option 1: Multiple accesses, here it works, but has some downsides (!!)
df1 = pd.DataFrame({"Column 1": [10,20,30], "Column 2": [40, 5, 30]})
display('a = df1[df1["Column 1"] > 10]')
a = df1[df1["Column 1"] > 10]
display(a)
display('b = a[a["Column 2"] > 5]')
b = a[a["Column 2"] > 5]
display(b)
# Problem with this approach comes in here:
display('(Warning appears for this line!!) b["Column 1"] = 200')
b["Column 1"] = 200
# Show df1 now. Maybe unchanged !!
display("Updated df1:")
display(df1)

'a = df1[df1["Column 1"] > 10]'

   Column 1  Column 2
1        20         5
2        30        30

'b = a[a["Column 2"] > 5]'

   Column 1  Column 2
2        30        30

'(Warning appears for this line!!) b["Column 1"] = 200'

/var/folders/fv/nrlz1d_109b7840p2_5cyc180000gn/T/ipykernel_51136/2474746856.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b["Column 1"] = 200

'Updated df1:'

   Column 1  Column 2
0        10        40
1        20         5
2        30        30

Now let's look at a different approach, here we need to look at two new operators, the element-wise OR and element-wise AND.

In [21]:
# Four pairs:
# [True, True], [True, False], [False, True], [False, False]
first_grid = pd.DataFrame([[True, True], [False, False]])
second_grid = pd.DataFrame([[True, False], [True, False]])

display("first")
display(first_grid)
display("second")
display(second_grid)
# Element-wise OR
display("first | second")
display(first_grid | second_grid)
# Element-wise AND
display("first & second")
display(first_grid & second_grid)

'first'

       0      1
0   True   True
1  False  False

'second'

      0      1
0  True  False
1  True  False

'first | second'

      0      1
0  True   True
1  True  False

'first & second'

       0      1
0   True  False
1  False  False

So let's now take a look at how this can be used to fix our original problem with an alternative approach. Note that this time we can simply access the column at the same time as the rows!

In [22]:
# Option 2: Single access.
df1 = pd.DataFrame({"Column 1": [10,20,30], "Column 2": [40, 5, 30]})
display('Original df1')
display(df1)
display('a_1 = df1["Column 1"] > 10')
a_1 = df1["Column 1"] > 10
display(a_1)
display('a_2 = df1["Column 2"] > 5')
a_2 = df1["Column 2"] > 5
display(a_2)
display('a_1 & a_2')
display(a_1 & a_2)

display('df1["Column 1", a_1 & a_2]')
display(df1.loc[a_1 & a_2, "Column 1"])
# Problem with this approach comes in here:
display('df1.loc[a_1 & a_2, "Column 1"] = 200')
df1.loc[a_1 & a_2, "Column 1"] = 200
# Show df1 now.
display("Updated df1:")
display(df1)

'Original df1'

   Column 1  Column 2
0        10        40
1        20         5
2        30        30

'a_1 = df1["Column 1"] > 10'

0    False
1     True
2     True
Name: Column 1, dtype: bool

'a_2 = df1["Column 2"] > 5'

0     True
1    False
2     True
Name: Column 2, dtype: bool

'a_1 & a_2'

0    False
1    False
2     True
dtype: bool

'df1["Column 1", a_1 & a_2]'

2    30
Name: Column 1, dtype: int64

'df1.loc[a_1 & a_2, "Column 1"] = 200'

'Updated df1:'

   Column 1  Column 2
0        10        40
1        20         5
2       200        30

The final example on our brief tour of element-wise operations are notes on two common approaches for working element-wise to define new columns. We use a few standard element-wise examples of increasing complexity and finally the `apply` function - note that the `apply` function can also be given an entire axis at a time, allowing for more complex operations which might conditionally utilise different columns.

In [26]:
df1 = pd.DataFrame({"Column 1": [10,20,30], "Column 2": [40, 5, 30]})
display("df1")
display(df1)
display("df1['C1^2'] = df1['Column 1'] * df1['Column 1']")
df1['C1^2'] = df1['Column 1'] * df1['Column 1']
display(df1)
# A second powerful option, working on two columns at a time.
display("df1['C1 * C2'] = df1['Column 1'] * df1['Column 2']")
df1['C1 * C2'] = df1['Column 1'] * df1['Column 2']
display(df1)
# A third powerful option, mixing dimensions
display("df1['C1 * C2 / (C1_bar * C2_bar)'] = df1['C1 * C2'] / (C1_bar * C2_bar)")
C1_bar = df1['Column 1'].mean()
display("C1_bar = {}".format(C1_bar))
C2_bar = df1['Column 2'].mean()
display("C2_bar = {}".format(C2_bar))
df1['C1 * C2 / (C1_bar * C2_bar)'] = df1['C1 * C2'] / (C1_bar * C2_bar)
display(df1)
# A fourth powerful option, the apply function
def discretise(x):
    if x < 0.5:
        return "Low"
    elif x < 1.0:
        return "Medium"
    else:
        return "High"
display("df1['C1 * C2 / (C1_bar * C2_bar)'].apply(discretise)")
display(df1['C1 * C2 / (C1_bar * C2_bar)'].apply(discretise))
display("df1['Discretised'] = df1['C1 * C2 / (C1_bar * C2_bar)'].apply(discretise)")
df1['Discretised'] = df1['C1 * C2 / (C1_bar * C2_bar)'].apply(discretise)
display(df1)

'df1'

   Column 1  Column 2
0        10        40
1        20         5
2        30        30

"df1['C1^2'] = df1['Column 1'] * df1['Column 1']"

   Column 1  Column 2  C1^2
0        10        40   100
1        20         5   400
2        30        30   900

"df1['C1 * C2'] = df1['Column 1'] * df1['Column 2']"

   Column 1  Column 2  C1^2  C1 * C2
0        10        40   100      400
1        20         5   400      100
2        30        30   900      900

"df1['C1 * C2 / (C1_bar * C2_bar)'] = df1['C1 * C2'] / (C1_bar * C2_bar)"

'C1_bar = 20.0'

'C2_bar = 25.0'

   Column 1  Column 2  C1^2  C1 * C2  C1 * C2 / (C1_bar * C2_bar)
0        10        40   100      400                          0.8
1        20         5   400      100                          0.2
2        30        30   900      900                          1.8

"df1['C1 * C2 / (C1_bar * C2_bar)'].apply(discretise)"

0    Medium
1       Low
2      High
Name: C1 * C2 / (C1_bar * C2_bar), dtype: object

"df1['Discretised'] = df1['C1 * C2 / (C1_bar * C2_bar)'].apply(discretise)"

   Column 1  Column 2  C1^2  C1 * C2  C1 * C2 / (C1_bar * C2_bar) Discretised
0        10        40   100      400                          0.8      Medium
1        20         5   400      100                          0.2         Low
2        30        30   900      900                          1.8        High